/JENI-INTRO1-BAB04/build/
/JENI-INTRO1-BAB05/nbproject/private/
/JENI-INTRO1-BAB05/build/
/JENI-INTRO1-BAB06/nbproject/private/
/JENI-INTRO1-BAB06/build/
/JENI-INTRO1-BAB06/dist/
/JENI-INTRO1-BAB07/nbproject/private/
/JENI-INTRO1-BAB07/build/
/hour1/nbproject/private/
/hour1/build/
/hour2/nbproject/private/
/hour2/build/
/JENI-INTRO1-BAB08/nbproject/private/
/hour3/nbproject/private/
/hour3/build/
/JENI-INTRO1-BAB08/build/